{% load static %}

<aside class="news-panel">
    <h2>RECENT NEWS</h2>
    {% for news in news_list %}
        <a href="{% url 'news_detail' news.id %}" class="news-box">
            <h5>{{ news.title }}</h5>
            <p class="text-muted">Posted on: {{ news.date_posted }}</p>
            <p>Societies:</p>
                <ul>
                {% for society in news.society.all %}
                <li>{{ society.name }}</li>
                {% endfor %}
                </ul>
        </a>
    {% empty %}
        <div class="news-box empty-box">
            <p class="text-muted">No news available.</p>
        </div>
    {% endfor %}
    <div class="view-more-btn">
        <a href="{% url 'newspage' %}">View More</a>
    </div>
</aside>
