{% extends 'base.html' %}

{% block title %}Check Your Email{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="alert alert-info mt-4">
                <h4 class="alert-heading">Check Your Email!</h4>
                <p>We have sent a password reset link to your email address. It may take a few minutes to arrive. Please check your email to complete the password change process.</p>
                <p>The link will expire in 1 hour.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
