{% extends 'base.html' %}

{% block content %}
<div class="page-container">
    <h2 class="fw-bold text-danger mb-4">Payment Canceled</h2>
    <p class="mb-4">Your payment was canceled. Please try again.</p>

    {% if type == "event" and object %}
        <a href="{% url 'eventspage' %}" class="btn btn-warning">Back to Event</a>
    {% elif type == "society" and object %}
        <a href="{% url 'society_page' object.id %}" class="btn btn-warning">Back to Society</a>
    {% else %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Home</a>
    {% endif %}
</div>
{% endblock %}