{% extends 'base.html' %}

{% block content %}
<div class="page-container">
  <h2 class="success-title">Payment Successful</h2>
  <p class="success-description">{{ success_message }}</p>

  {% if type == "event" and object %}
        <a href="{% url 'eventspage' %}" class="btn btn-warning">Back to Event</a>
  {% elif type == "society" and object %}
        <a href="{% url 'society_page' object.id %}" class="btn btn-warning">Back to Society</a>
  {% else %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Go Home</a>
  {% endif %}

</div>
{% endblock %}
