<div class="widget-content">
    <div class="featured-widget">
        {% if widget.data.featured_members %}
          <div class="featured-members">
            {% for member in widget.data.featured_members %}
              <div class="featured-member">
                {% if member.picture %}
                  <img src="{{ member.picture }}" alt="{{ member.name }}" style="max-width:100px;"/>
                {% endif %}
                <p><strong>{{ member.name }}</strong></p>
                <p>{{ member.role }}</p>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No featured members set.</p>
        {% endif %}
      </div>      
</div>
  