<div class="widget-content">
  <div class="featured-widget">
    {% if widget.data.featured_members %}
        <ul class="list-group">
            {% for featured in widget.data.featured_members %}
                <li class="list-group-item">
                    {% if featured.picture %}
                        <img src="{{ featured.picture }}" alt="{{ featured.member }}" style="max-width:100px;">
                    {% endif %}
                    <p><strong>{{ featured.member }}</strong></p>
                    <p>{{ featured.role }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No featured members available.</p>
    {% endif %}
  </div>
</div>