/* General Fix for Content Overflow */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.event-header {
    display: flex;
    flex-direction: column;
    background-color: #B7E3E4;
    height: 25vh;
}

.event-title {
    display: flex;
    flex-grow: 2;
    color: #F03F35;
    font-size: 25pt;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 10pt;
}

.event-search {
    display: flex;
    flex-grow: 1;
    margin: auto;
}

.event-filter {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.event-body {
    background-color: #F03F35;
    height: 80vh;
}

.event-api-view-bar {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    cursor: pointer;
}

.event-view-calendar {
    margin: 0%;
    display: block;
}

.event-view-list {
    margin: 0%;
    display: block;
}

.event-api-view-bar span {
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Default text color */
.event-api-view-bar span {
    color: black;
}

/* Active button (Changes text color and background) */
.event-api-view-bar span.active {
    color: #B7E3E4;
}

/* Hide all views initially */
.event-api-views > div {
    display: none;
}
