<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Gallery</title>
</head>
<body>
    <h1>Upload Gallery</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Gallery Information</h2>
        {{ gallery_form.as_p }}

        <h2>Upload Image</h2>
        {{ image_form.as_p }}

        <button type="submit">Upload</button>
    </form>
    <a href="{% url 'panels:gallery_list' %}">View Gallery</a>
</body>
</html>
