{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackOverflow</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-logo"> 
                <a class="logo" href="{% url 'home' %}">StackOverflow</a>
            </div>
            <div class="nav-menu">
                <span class="menu-new-society">
                    <a class="newsociety" href="{% url 'societiespage' %}">Create-New-Society</a>
                </span>
                <span class="menu-society">
                    <a class="society" href="{% url 'societiespage' %}">Society</a>
                </span>
                <span class="menu-event">
                    <a class="event" href="{% url 'eventspage' %}">Event</a>
                </span>
                <span class="menu-account">
                    <a class="account" href="{% url 'accountpage' %}">Account</a>
                </span>
            </div>
            <div class="nav-log">
                <span class="log-log-in">
                    <a class="logo" href="{% url 'log_in' %}">Log-In</a>
                </span>
                <span class="log-sign-in">
                    <a class="logo" href="{% url 'sign_up' %}">Sign-Up</a>
                </span>
            </div>
        </nav>
    </header>
    <hr>

    <main class="container mt-4">
        <div id="wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="bg-dark text-light text-center py-3 mt-4">
        <div>
            <p>&copy; 24/25 Major Group Project by Team StackOverflow</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
